<form>
  <div class="form-group">
    <label for="blog-title">Blog Title</label>
    <input type="blog-title-input" id="blog-title" class="form-control">
   </div>
  <div class="form-group">
    <label for="Blog-body">Blog Body</label>
    <input type="blog-body-input" id="blog-body" class="form-control">
  </div>
  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/createBlog.js"></script>