{{#each blogs as |blog|}}
<div class="container">
    <div class="card">        
        <div class="card-header">
            <h1>{{blog.title}}</h1>
        </div>
        <h2 class="card-subheader">{{blog.date}}</h2>
        <a href="/blogs/{{blog.id}}" class="btn btn-primary">View Full Blog</a>
        <button class="btn btn-primary" id="delete" data-id="{{blog.id}}">Delete Post</a>
    </div>
</div>
{{/each}}

<script src="./js/delete.js"></script>