<div class="container">
    <div class="card">  
        <div class="card-header">
            <h1>Update your post below:</h1>
            <div class="card-body">
                    <div class="form-group">
                        <label for="blog-title">Blog Title</label>
                        <input type="blog-title-input" id="blog-title" value={{blog.title}}>
                    </div>
                    <div class="form-group">
                        <label for="Blog-body">Blog Body</label>
                        <input type="blog-body-input" id="blog-body" value={{blog.body}}>
                    </div>
                    <button type="submit" id="edit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>



<script src="/js/editBlog.js"></script>

