:root {
    --primary: rgb(202, 176, 136);
    --secondary: rgb(214, 133, 57);
    --tertiary: rgb(19, 31, 70);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(13, 98, 109);
    --lg: rgba(96, 96, 96);
    --dark2: rgb(0,0,0)
}
 * {
     box-sizing: border-box;
   }
body {
   
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

header {

    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

.comment-container {
    color: var(--lg);
}

.title-container {
    color: var(--primary);
}

.card {
    background-color: var(--tertiary);
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-color: var(--secondary);
}

.card-subheader {
    font-size: 12;
}

#createblog {
    background-color: var(--secondary);
   
}

.description {
    text-decoration: underline;
    text-align: center;
}


